[class*="btn-"] {
    font-size: 0.9375rem;
    padding: 8px 16px;
}

.btn-enablehr {
    color: $white;
    background: $principal-green;
    &:hover {
        color: $white;
        background: $dark-green;
    }
}

.btn-gray {
    color: $gray-500;
    background: $gray-110;
    &:hover {
        color: $gray-500;
        background: $gray-200;
    }
}