:root {
    font-size: 16px;
}

code {
    display: inline;
    padding: 1px 2px;
    margin: 0 2px;
    font-size: 0.75rem;
    background-color: rgba(0,0,0,0.04);
    color: $red;
    border: 1px solid $gray-100;
    border-radius: 3px;
}

a {
    color: $principal-green;
}

a:hover {
    color: $dark-green;
    text-decoration: none;
}
a.text-dark:hover {
    color: $gray-500 !important;
}

.request-wrap h2 {
    font-weight: 300;
    font-size: 1.25rem;
}

.page-width-standard {
    max-width: 1000px;
    width: 99.9%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 30px;
}

.section-title {
    font-size: 1.75rem;
}