/* Colors */
$principal-green: #48a383;
$dark-green: #12af7f;
$black: #020a2c;
$red: #e6555f;
$white: #fff;
$purple-light: #5864fe;
$gray-100: #f1f2f4;
$gray-500: #585d72;

/* Forms - in this case we don't use bootstrap variables */
$form-field-height: 3.5rem;
$form-font-size: 0.9375rem;
$form-line-height: 1.5rem;
